{% extends "base_registration.html" %}

{% block content_level %}reset{% endblock %}

{% block title %}Reset your password{{ block.super }}{% endblock %}

{% block main_content %}
<h2>Reset your password</h2>

	{% if form.errors %}<p class="form_errors">You'll need to correct the following errors before your password reset can be processed:</p>{% else %}<p>Please fill in the following form field to reset your password:</p>{% endif %}

<form action="." method="POST" id="registration_form">
	<fieldset>
		<p><label for="id_email">E-mail:</label> {{ form.email }} {% if form.email.errors %}<span class="form_error">{{ form.email.errors.as_text }}</span>{% endif %}</p>
		<p class="submit"><input type="submit" value="Submit" /></p>
	</fieldset>
</form>

{% endblock %}