{% extends "base_registration.html" %}

{% block content_level %}change{% endblock %}

{% block title %}Change your password{{ block.super }}{% endblock %}

{% block main_content %}
<h2>Change your password</h2>

	{% if form.errors %}<p class="form_errors">You'll need to correct the following errors before your password change can be processed:</p>{% else %}<p>Please fill in the following form fields to change your password:</p>{% endif %}

<form action="." method="POST" id="registration_form">
	<fieldset>
		<p><label for="id_new_password1">New password:</label> {{ form.new_password1 }} {% if form.new_password1.errors %}<span class="form_error">{{ form.new_password1.errors.as_text }}</span>{% endif %}</p>
		<p><label for="id_new_password2">New password confirmation:</label> {{ form.new_password2 }} {% if form.new_password2.errors %}<span class="form_error">{{ form.new_password2.errors.as_text }}</span>{% endif %}</p>
		<p class="submit"><input type="submit" value="Submit" /></p>
	</fieldset>
</form>

{% endblock %}